# Ignore Python cache files
__pycache__/
*.pyc
venv/

# Ignore content folder (if it contains non-essential files)
content/

# Other common entries
*.env
*.DS_Store
*.log
*.sqlite3

# Ignore environment variables file
.env
