{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Latest Posts</h2>
        {% for post in posts %}
        <div class="post">
            <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>Published on: {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <div class="post-content">{{ post.content|safe|truncate(200) }}</div>
            <p>Tags: 
                {% for tag in post.tags %}
                <a href="{{ url_for('tag', tag_name=tag.name) }}" class="badge badge-secondary">{{ tag.name }}</a>
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>hey, i'm amar. and i'm just trying to be better than yesterday.</p>
        <a href="{{ url_for('create_post') }}" class="btn btn-primary">Create New Post</a>
        <div class="pinterest-feed">
            <h2 class="d-flex justify-content-between align-items-center">
                my vibe
                <button class="btn btn-link p-0 pinterest-dropdown-button" type="button" data-toggle="collapse" data-target="#pinterestBoard" aria-expanded="false" aria-controls="pinterestBoard">
                    <span class="material-icons">arrow_drop_down</span>
                </button>
            </h2>
            <div class="collapse" id="pinterestBoard">
                <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/amariskinggg/light/"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}z
